<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="container navbar navbar-default bg-light mt-3" style="border-width:1px; border-style:solid; border-color: #dddddd; border-radius: 4px">
            <div></div>
            <span id="langselector">
                <a href="?lang=hu" onclick="document.cookie='rentLocal=hu'"> HU </a>
                | 
                <a href="?lang=en" onclick="document.cookie='rentLocal=en'"> EN</a>
            </span>
        </nav>
    </body>
</html>
