<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Rent</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
    <link rel="stylesheet" href="../../static/css/rent.css" th:href="@{/css/rent.css}"/>
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />-->	
    <!--<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />-->
<body>
    <div id="wrap">
        <div id="main">
            <div th:insert="layouts/header">header fragment</div>
            <br>
            <div layout:fragment="content">content fragment</div>
        </div>
    </div>
    <span th:insert="layouts/footer">footer fragment</span>
</body>
</html>
